    img
    {
        max-width: 300px;
    }
    .box
    {
        
        display: flex;
    }

    body
    {
        background: #1e1c32;
    }

    p
    {
        color: #c6baac;
    }
    .amigos
    {
        display: flex;
    }